// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  color : #AAF683;
}

a {
  text-decoration: none;
}

h2 a {
  color : #AAF683;
}

#delete {
  color : #EF474A;
}

.add {
  color : #20A4F3;
}
